---
import { Image } from 'astro:assets';
import Container from "./UI/Container.astro";
import ColoredLogo from "../assets/logo-colored.svg";
---

<Container>
  <footer class="footer">
    <div class="footer__row">
      <Image
          class="footer__logo"
          src={ColoredLogo}
          alt="Logo"
      />
    </div>
    <div class="footer__row">
      <p>
        Общество с ограниченной<br>
        ответственностью «Т-Студия»<br>
        Томская область, ОГРН: 1157017007180, дата<br>
        присвоения ОГРН: 22.04.2015<br>
        ИНН: 7017375554, КПП: 701701001<br>
        Директор: Дикович Татьяна Васильевна
      </p>

      <div class="footer__card">
        <div class="footer__card-title">
          Контакты:
        </div>
        <div class="footer__card-text">
          <a href="mailto:email@mail.ru">email@mail.ru</a>
          <a href="tel:+7(999)999-99-99">+7(999)999-99-99</a>
        </div>
      </div>
    </div>
    <div class="footer__row footer__row--end">
      <div>
        <div class="footer__card">
          <div class="footer__card-title">
            Юридический адрес:
          </div>
          <div class="footer__card-text">
            Томская обл., г. Томск ул., Больничная д.4/1
          </div>
        </div>
        <div class="footer__card">
          <div class="footer__card-title">
            Фактический адрес:
          </div>
          <div class="footer__card-text">
            634003,Томская обл., г. Томск ул., Больничная д.4/1
          </div>
        </div>
      </div>
      <div class="footer__card">
        <div class="footer__card-title">
          Банковские реквизиты:
        </div>
        <div class="footer__card-text">
          ФИЛИАЛ «НОВОСИБИРСКИЙ» АО «АЛЬФА-БАНК»,<br>
          БИК 045004774<br>
          р/с 40702810523010001071<br>
          к/с 30101810600000000774
        </div>
      </div>
    </div>
    <div class="footer__row">
      <div class="footer__copyright">
        <p>2025 Все права защищены.</p>
        <p>
          <a href="#">Пользовательское соглашение.</a>
          <a href="#">Политика обработки персональных данных.</a>
        </p>
      </div>
    </div>
  </footer>
</Container>

<style is:global lang="scss">
  .footer {
    @include MontserratMedium18;

    display: flex;
    flex-direction: column;
    gap: 40px 0;
    background-color: $primary;
    border-radius: 20px 20px 0 0;
    padding: 40px;
    color: $secondary;
    margin-top: $gap_section;

    &__logo {
      width: 185px;
      height: 42px;
      object-fit: contain;
      margin-bottom: 25px;
    }

    &__row {
      display: grid;
      grid-template-columns: 45% 1fr;
      grid-gap: 0 80px;

      &--end {
        align-items: flex-end;
      }
    }

    &__card {
      display: flex;
      flex-direction: column;

      &-title {
        color: #FFFFFF99;
        margin-bottom: 10px;
      }

      &-text {
        display: flex;
        flex-direction: column;
        gap: 10px 0;

        a {
          color: $secondary;
        }
      }

      &:not(:first-of-type) {
        margin-top: 40px;
      }
    }

    &__copyright {
      @include MontserratMedium13;

      text-align: center;
      color: #FFFFFF99;
      grid-column: span 2;
      margin-top: 30px;

      a {
        text-decoration: underline;
        color: #FFFFFF99;
      }
    }
  }
</style>