---
import { Image } from 'astro:assets';

interface Props {
  icon: string
  title: string
  text: string
}

const { icon, title, text } = Astro.props;
---

<div class="service-card">
  <div class="service-card__icon">
    <Image src={icon} alt={title} />
  </div>
  <div class="service-card__content">
    <div class="service-card__title">
      {title}
    </div>
    <div class="service-card__text">
      {text}
    </div>
  </div>
</div>

<style is:global lang="scss">
  .service-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: #232323;
    padding: 49px 25px;
    border-radius: 30px;
    width: 312px;

    @include media(md) {
      padding: 28px 10px;
      min-width: 214px;
    }

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #6DE8DD;
      width: 87px;
      height: 87px;
      border-radius: 100%;

      img {
        width: 48px;
        height: 48px;
      }
    }

    &__content {
      margin-top: 60px;
      color: $secondary;
      text-align: center;
    }

    &__title {
      @include MontserratMedium26;

      @include media(md) {
        @include MontserratMedium18;
      }
    }

    &__text {
      @include MontserratMedium18;

      margin-top: 9px;

      @include media(md) {
        @include MontserratMedium13;

        margin-top: 20px;
      }
    }
  }
</style>