---
import { Image } from "astro:assets";
import Container from './UI/Container.astro';
import Button from './UI/Button.astro';
import LinkArrow from '../assets/link-arrow.svg';
import TopBannerBg1 from '../assets/top-banner-bg-1.png';
import TopBannerBg2 from '../assets/top-banner-bg-2.png';
---

<Container gap>
  <div class="top-banner">
    <div data-aos="fade-up" class="top-banner__head">
      <div class="top-banner__title">
        Т-студия
      </div>
      <div class="top-banner__description">
        технологии, которые работают
        на ваш бизнес
      </div>
    </div>

    <div data-aos="fade-up" class="top-banner__footer">
      <div class="top-banner__item">
        <div class="top-banner__item-head">
          <span class="top-banner__item-title">10+</span>
        </div>
        <div class="top-banner__item-footer">
          <p>лет <br>опыта</p>
        </div>
        <Image class="top-banner__item-bg" src={TopBannerBg1} alt="T-Studio Logo" />
      </div>
      <div class="top-banner__item">
        <div class="top-banner__item-head">
          <span class="top-banner__item-title">350+</span>
        </div>
        <div class="top-banner__item-footer">
          <p>проектов реализовано</p>
        </div>
        <Image class="top-banner__item-bg" src={TopBannerBg2} alt="T-Studio Logo" />
      </div>
      <div class="top-banner__item">
        <div class="top-banner__item-head">
          <span class="top-banner__item-title">95%</span>
          <p>клиентов&nbsp;<span>остаются с нами</span></p>
        </div>
        <div class="top-banner__item-footer">
          <Button
              class="top-banner__button"
              text="Оценить проект"
              size="large"
              view="ghost"
              href="#form"
              iconRightSrc={LinkArrow}
          />
          <Button
              href="#form"
              class="top-banner__button--mobile"
              text="Оценить проект"
          />
        </div>
      </div>
    </div>
  </div>
</Container>

<style lang="scss" is:global>
  .top-banner {
    @include media(md) {
      margin-top: 20px;
    }

    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 65px;

      @include media(md) {
        flex-direction: column;
        align-items: flex-start;
        margin-right: 0;
      }
    }

    &__title {
      @include UnboundedMedium86;

      text-transform: uppercase;
      white-space: nowrap;

      @include media(md) {
        @include UnboundedMedium45;
      }
    }

    &__description {
      @include MontserratMedium26;

      box-sizing: content-box;
      max-width: 452px;
      padding-left: 20px;

      @include media(md) {
        @include MontserratMedium18;

        padding-left: 0;
        margin-top: 10px;
        max-width: 300px;
      }
    }

    &__footer {
      display: grid;
      grid-template-columns: 264px 264px 1fr;
      grid-gap: 0 24px;
      margin-top: 30px;

      @include media(md) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px 10px;
      }
    }

    &__item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 327px;
      background-color: $accent;
      color: $secondary;
      padding: 30px;
      border-radius: 30px;
      overflow: hidden;

      @include media(md) {
        padding: 10px;
        border-radius: 10px;
        min-height: 150px;
        background-color: transparent;
      }

      &:last-child {
        @include media(md) {
          grid-column: span 2;
          color: $accent;
          padding: 0;
          min-height: auto;

          .top-banner__item-head {
            margin: 0 auto 0 0;
            gap: 10px;

            p {
              margin-top: 15px;

              span {
                display: block;
                padding-left: 35px;
              }
            }
          }
        }

        @include media(sm) {
          .top-banner__item-head {
            margin: 0 auto;
          }
        }
      }

      & > * {
        z-index: 2;
      }

      p {
        @include MontserratMedium26;

        align-self: flex-end;
      }

      &-title {
        @include UnboundedRegular68;

        @include media(md) {
          @include MontserratMedium40;
        }
      }

      &-head {
        display: flex;
        flex-wrap: wrap;
        gap: 0 44px;
      }

      &-footer {
        @include media(md) {
          margin-top: 30px;
        }
      }

      &-bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
      }
    }

    &__button {
      margin-left: auto;

      @include media(md) {
        display: none;
      }

      &--mobile {
        display: none;
        width: 100%;

        @include media(md) {
          display: block;
        }
      }
    }
  }
</style>