---
import Title from "./UI/Title.astro";
import Container from "./UI/Container.astro";
import WorkCard from "./WorkCard.astro";
---

<Container gap>
  <div class="work">
    <Title
        color="gradient"
        text="Как мы работаем"
        tag="h2"
    />

    <div class="work__content">
      <WorkCard
          data-aos="fade-up"
          number="01"
          title="Связь и диагностика"
          text="После заявки мы свяжемся с вами, чтобы уточнить провести бриф и разобраться в задаче."
      />
      <WorkCard
          data-aos="fade-up"
          number="02"
          title="Гарантия конфиденциальности"
          text="Если необходимо, подписываем NDA, чтобы защитить данные."
      />
      <WorkCard
          data-aos="fade-up"
          number="03"
          title="Предоставление оффера"
          text="Готовим детальный проектный план: технологии, сроки, стоимость."
      />
      <WorkCard
          data-aos="fade-up"
          number="04"
          title="Быстрый старт"
          text="Подписываем договор и запускаем работу."
      />
    </div>
  </div>
</Container>

<style lang="scss" is:global>
  .work {
    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 24px;
      margin-top: 50px;

      @include media(md) {
        margin-top: 30px;
        grid-template-columns: 1fr;
        grid-gap: 20px;
      }
    }
  }
</style>