---
import Header from "../components/Header.astro";

const menu_list = [
  {
    text: 'О нас',
    href: '#about',
  },
  {
    text: 'Услуги',
    href: '#services',
  },
  {
    text: 'Примеры работ',
    href: '#cases',
  }
]
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
    <Header menu_list={menu_list} />
    <main class="main">
      <slot />
    </main>
	</body>
</html>

<style is:global lang="scss">
  :target {
    scroll-margin-top: $header_height;

    @include media(md) {
      scroll-margin-top: $header_height_mobile;
    }
  }

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
    color: $primary;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
	}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin-top: $header_height;
    background-color: $secondary;
    overflow-x: hidden;

    @include media(md) {
      margin-top: $header_height_mobile;
    }
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: $accent;
  }

  p {
    margin-bottom: 10px;
  }

  ul {
    padding-left: 20px;

    li {
      &::marker {
        width: 10px;
        height: 10px;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
</style>
