---
interface Props {
  class?: string
  gap?: boolean
}

const {
  class: className,
  gap,
  ...rest
} = Astro.props
---
<section class:list={["container", gap ? 'container--gap' : '', className]} {...rest}>
  <slot />
</section>

<style is:global lang="scss">
  .container {
    width: 100%;
    max-width: 1188px;
    margin: 0 auto;
    padding: 0 30px;

    @include media(md) {
      padding: 0 10px;
    }

    &--gap {
      padding: $gap_section 30px;

      @include media(md) {
        padding: $gap_section_mobile 10px;
      }
    }
  }
</style>